// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: white;
  padding-top: 10px;
}

header {
  width: 100%;
  background-color: white;
  height: 54px;
}

.navbar-default {
  border: 0;
}
.navbar {
  background-color: transparent;
  color: white;
  margin-bottom: 0px;
}
.navbar-default {
.navbar-brand {
  color: #ccc;
  &:hover {
    color: white;
  }
}
.navbar-nav > li > a {
  color: #ccc;
  &:hover, &:focus {
    color: white;
  }
}
.navbar-nav > .open > a {
  background-color: transparent;
  color: white;
  &:hover, &:focus {
    background-color: transparent;
    color: white;
  }
}
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ccc;
  text-align: center;
  &:hover, &:focus {
    color: white;
  }
}
.navbar-default .navbar-toggle {
  background-color: transparent;
  &:hover, &:focus {
    background-color: transparent;
  }
}
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image:  image-url("header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}


.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

.flash {
  color: black;
  padding-top: 10px;
}